<meta property="og:title" content="Decentralized Auth" />
<meta property="og:image" content="https://decentralizedauth.net/decentralizedauth-512.webp" />
<meta property="og:description" content="An alternative authentication protocol for Minecraft that puts users back in control" />
